@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: rgb(0, 0, 0);
  overflow-x      : hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', sans-serif;
}

::selection {
  background-color: #5aa4ff;
  color           : black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background   : #c6e0ff;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5aa4ff;
}

.home-left::before {
  content   : "";
  position  : absolute;
  top       : 0;
  left      : -20rem;
  background: #ffffff;
  filter    : blur(2000px);
  width     : 50px;
  height    : 500px;
}

.home-right {
  margin: -340px;
}

@media (max-width: 1700px) {
  .home-right {
    margin: -210px;
  }
}

@media (max-width: 1384px) {
  .home-right {
    display: none;
  }
}

.robot-img {
  width: 669px;
}

.home-right::before {
  content   : "";
  position  : absolute;
  top       : 0;
  left      : 200px;
  background: #c6e0ff;
  filter    : blur(500px);
  width     : 100px;
  height    : 500px;
}

.discount {
  width     : 350px;
  height    : 40px;
  background: linear-gradient(125.17deg, #272727 0%, #11101D 100%);
}

.stats div:not(:last-child)::after {
  content         : "";
  position        : absolute;
  width           : 2px;
  height          : 50%;
  top             : 50%;
  right           : -115px;
  border-radius   : 50px;
  transform       : translateY(-50%);
  background-color: rgba(255, 255, 255, 0.157)
}

.features-box:hover {
  background: linear-gradient(153.47deg, black -341.94%, #14101D 95.11%);
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.features-box:hover div::before {
  content         : "";
  position        : absolute;
  width           : 50px;
  height          : 50px;
  top             : 0;
  right           : 0;
  background-color: rgb(246, 242, 242);
  filter          : blur(50px);
}


.btn {
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
}

.download-left::before {
  content   : "";
  position  : absolute;
  top       : 10rem;
  left      : -20rem;
  background: #ffffff;
  filter    : blur(5000px);
  width     : 50px;
  height    : 700px;
}

.main-box {
  background     : linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
  backdrop-filter: blur(5px);
  border-radius  : 20px;
}

.main-box::before {
  content   : "";
  position  : absolute;
  top       : 3rem;
  right     : 3rem;
  background: #7bd1ff;
  filter    : blur(5000px);
  width     : 200px;
  height    : 200px;
  z-index   : -1;
}

.footer-top {
  border-bottom: 1px solid #6d6d6d50;
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}